**/.DS_Store

vitashell_user_stubs
vitashell_kernel_stubs
libs/vitashell/kernel/kernel
libs/vitashell/user/user
vita-savemgrpp
*.a
*.o
*.elf
*.velf
*.self*
*.vpk*
*.suprx*
*.skprx*
*.yml

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
!libs/libftpvita/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
